{% extends "parent.html" %}
{% block title %}Python WebTime{% endblock %}
{% block head %}
{% endblock %}
{% block page_name %}Adjustment Timestamps{% endblock %}

{% block body %}
<div class="content-section">
    {% if init %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend>Select the Date Range you want to adjust:</legend>
            <div class="form-group">
                {{ form.range_begin.label(class="form-control-label") }}
                {{ form.range_begin(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.range_end.label(class="form-control-label") }}
                {{ form.range_end(class="form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
            <a class="btn btn-outline-info" href={{ url_for( "adjust" ) }} id="cancel">Cancel</a>
        </div>
    </form>
    {% else %}
    <h1>Submitted Dates to Time Form</h1>

    {% endif %}
</div>
<p>
    <a href={{ url_for( "webtime" ) }}>Back to Main Menu</a>
</p>
{% endblock body %}