{% extends "parent.html" %}
{% block title %}Python WebTime{% endblock %}
{% block head %}
{% endblock %}
{% block page_name %}Edit {{ item_type.title() }}{% endblock %}

{% block body %}
<div class="content-section">
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend>Make updates and then click Submit.</legend>
        {% if item_type == "time" %}
        <div class="form-group">
            <span class="form-control-label">TimelogID </span>
            <span class="form-control form-control-lg">{{ item.get("timelogid") }}</span>
        </div>
        <div class="form-group">
            {{ form.start.label(class="form-control-label") }}
            {{ form.start(class="form-control form-control-lg", value=item.get("start")) }}
        </div>
        <div class="form-group">
            {{ form.stop.label(class="form-control-label") }}
            {{ form.stop(class="form-control form-control-lg", value=item.get("stop")) }}
        </div>
        <div class="form-group">
            {{ form.project.label(class="form-control-label") }}
            {{ form.project(class="form-control form-control-lg", value=item.get("project_name")) }}
        </div>
        <div class="form-group">
            {{ form.task.label(class="form-control-label") }}
            {{ form.task(class="form-control form-control-lg", value=item.get("task_name")) }}
        </div>
        <div class="form-group">
            {{ form.note.label(class="form-control-label") }}
            {{ form.note(class="form-control form-control-lg", value=item.get("note_name")) }}
        </div>
        {% elif item_type == "project" %}
        <div class="form-group">
            {{ form.project.label(class="form-control-label") }}
            {{ form.project(class="form-control form-control-lg", value=item.get("project_name")) }}
        </div>
        {% elif item_type == "task" %}
        <div class="form-group">
            {{ form.task.label(class="form-control-label") }}
            {{ form.task(class="form-control form-control-lg", value=item.get("task_name")) }}
        </div>
        {% elif item_type == "note" %}
        <div class="form-group">
            {{ form.note.label(class="form-control-label") }}
            {{ form.note(class="form-control form-control-lg", value=item.get("note_name")) }}
        </div>
        {% endif %}
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
        <a href={{ url_for( "adjust" ) }} class="btn btn-outline-info">Cancel</a>
    </div>
</form>
</div>
{% endblock body %}