{% extends "parent.html" %}
{% block title %}Python WebTime{% endblock %}
{% block head %}
{% endblock %}
{% block page_name %}Adjustment menu{% endblock %}

{% block body %}
<div class="content-section">
    <div id="controlpanel" class="form-group">
        <a class="btn btn-outline-info" href={{ url_for( "adjust_time" ) }} id="adjust_time">Adjust Timestamps</a>
        <a class="btn btn-outline-info" href={{ url_for( "adjust_project" ) }} id="adjust_project">Edit Projects</a>
        <a class="btn btn-outline-info" href={{ url_for( "adjust_task" ) }} id="adjust_task">Edit Tasks</a>
        <a class="btn btn-outline-info" href={{ url_for( "adjust_note" ) }} id="adjust_note">Edit Notes</a>
        
    </div>
</div>
<p>
    <a href={{ url_for( "webtime" ) }}>Back to Main Menu</a>
</p>
{% endblock body %}