{% extends "parent.html" %}
{% block title %}Python WebTime{% endblock %}
{% block head %}
{% endblock %}
{% block page_name %}Start Timing{% endblock %}

{% block body %}
<p>Select a client and project and click Start</p>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<form method="POST", action="">
</form>
<p>or click New to enter new clients/projects</p>
<a href={{ url_for( "new" ) }}>New</a>
<a href={{ url_for( "webtime" ) }}>Back</a>
{% endblock body %}