{% extends "parent.html" %}
{% block title %}Python WebTime{% endblock %}
{% block head %}
{% endblock %}
{% block page_name %}Welcome to Python/Flask Time Clock{% endblock %}

{% block body %}
    <div>
        <span id="messages"></span>
    </div>
    <!-- ToDo: Hide when user not logged in -->
    <!-- ToDo: Build section to inform user to register or log in -->
    <div id="controlpanel">
        <a href={{ url_for( "start" ) }} class="control" id="start">Start</a>
        <button class="control" id="stop">Stop</button>
        <a href={{ url_for( "adjust" ) }} class="control" id="adjust">Adjust</a>
        <a href={{ url_for( "report" ) }} class="control" id="report">Report</a>
        <!-- ToDo: Make these Nav links -->
        <!-- ToDo: Steal user system from Flask tutorial -->
        <a href={{ url_for( "register" ) }} class="nav" id="register">Register</a>
        <a href={{ url_for( "login" ) }} class="nav" id="login">Login</a>
        <a href={{ url_for( "logout" ) }} class="nav" id="logout">Logout</a>
    </div>
{% endblock body %}

{% block javascript %}
{{ super() }}
<script type="module">
    // Give the imported MVC components a namespace
    import * as MVC from "/static/js/webtime.js";

    // Create an intentional global variable referencing the import
    window.mvc = MVC;
</script>
{% endblock %}