{% extends "parent.html" %}
{% block head %}
{% endblock %}
{% block page_name %}Python/Flask Time Clock{% endblock %}

{% block body %}
<div class="content-section">
    {% if current_user.is_authenticated %}
    <div>
        {% if message_lines == 1 %}
            <h1 id="message">{{ message[0] }}</h1>
        {% else %}
            <h2 id="message">
            {% for line in message %}
                {{ line }} <br>
            {% endfor %}
            </h2>
        {% endif %}
    </div><br/>
    <div id="controlpanel" class="form-group">
        <a class="btn btn-outline-info" href={{ url_for( "start" ) }} id="start">Start</a>
        <a class="btn btn-outline-info" href={{ url_for( "stop" ) }} id="stop">Stop</a>
        <a class="btn btn-outline-info" href={{ url_for( "adjust" ) }} id="adjust">Adjust</a>
        <a class="btn btn-outline-info" href={{ url_for( "report" ) }} id="report">Report</a>
    </div>
    {% else %}
    <div id="media content-section">
        <h1>Register or Login to use TimeClock</h1>
    </div>
    {% endif %}
</div>
{% endblock body %}